<h2 class="bg-warning bg-3 p-1">Update new product</h2>
<form (submit)="updateProduct(updateProductForm)" class="row g-3 needs-validation" #updateProductForm="ngForm" novalidate>
  <div class="col-md-5">
    <label for="validationCustom01" class="form-label">Product name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="productDetails.productName"
      id="validationCustom01"
      value=""
      name="productName" ngModel
      required
    />
  </div>
  <div class="col-md-4">
    <label for="validationCustom05" class="form-label">Category Id</label>
    <input type="text" class="form-control" id="validationCustom05" [(ngModel)]="productDetails.categoryId" required name="categoryId" ngModel/>
  </div>
  <div class="col-md-12">
    <label for="validationCustom05" class="form-label">Product Image</label>
    <input type="text" class="form-control" id="validationCustom05"[(ngModel)]="productDetails.productImg" required name="productImg" ngModel/>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Product Color</label>
    <input type="text" class="form-control" id="validationCustom05"[(ngModel)]="productDetails.color" required name="color" ngModel/>
  </div>

  <div class="col-md-3">
    <label for="validationCustom03" class="form-label">Product Price</label>
    <input type="text" class="form-control" id="validationCustom03" [(ngModel)]="productDetails.price"name="price" ngModel required />
  </div>
  <div class="col-md-9">
    <label for="validationCustom02" class="form-label">Description </label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      [(ngModel)]="productDetails.description"
      value=""
      name="description" ngModel
      required
    />
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Rating</label>
    <select class="form-select" id="validationCustom04" [(ngModel)]="productDetails.rating"name="rating" ngModel required>
      <option selected disabled value="">Choose...</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="col-md-5">
    <label for="validationCustom05" class="form-label">Is Valiable</label>
    <select class="form-select" id="validationCustom04" [(ngModel)]="productDetails.isValiable"name="isValiable" ngModel required>
      <option selected disabled value="">Choose...</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="validationCustom05" class="form-label">Reviews</label>
    <select class="form-select" id="validationCustom04"  [(ngModel)]="productDetails.reviews"name="reviews" ngModelrequired>
      <option selected disabled value="">Choose...</option>
      <option value="1">1</option>

    </select>
  </div>


  <div class="col-12">
    <button class="btn btn-primary" type="submit">Update Product</button>
  </div>
</form>
