<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Đăng ký</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <input type="text" [(ngModel)]="username" name="username" placeholder="Nhập tài khoản">

            <input type="email" [(ngModel)]="email" name="email" placeholder="Nhập email">
            <input type="password" [(ngModel)]="password" name="password" placeholder="Nhập mật khẩu">
            <input type="password" [(ngModel)]="confirmpassword" name="password" placeholder="Nhập lại mật khẩu">
            <input type="text" [(ngModel)]="phone" name="phone" placeholder="Nhập số điện thoại">
            <input type="radio" id="male"[(ngModel)]="gender" name="gender" value="Male">
            <label for="male">Name</label><br>
            <input type="radio" id="male"[(ngModel)]="gender" name="gender" value="Female">
            <label for="female">Nữ</label><br>
            <input type="text" [(ngModel)]="address" name="address" placeholder="Nhập địa chỉ">
            <button type="submit">Register</button>
          </form>
        </div>
        <div class="card-footer">
          <p class="text-center">Đã có tài khoản? <a href="user/login">Đăng nhập ngay</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
