<div class="container">
  <div
    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
  >
  
    <div class="col mb-5" *ngFor="let product of productList">
      <div class="card h-100">
        <!-- Product image-->
        <img
          class="card-img-top"
          src={{product.productImg}}
          alt="..."
        />
        <!-- Product details-->
        <div class="card-body p-4">
          <div class="text-center">
            <!-- Product name-->
            <a routerLink="product/{{product.id}}" class="fw-bolder">{{product.productName}}</a>
            <!-- Description -->
            <p>{{product.description}}</p>
            <!-- Product price-->
           <p>{{product.price}}</p>
            <hr>
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
            <a routerLink="product/{{product.id}}" class="btn btn-outline-dark mt-auto" href="#">View options</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
