 <div class="container">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" src={{productDetails.productImg}} alt="..." />
          </div>
          <div class="col-md-6">
              <div class="small mb-1">Mã sản phẩm: {{productDetails.id}}</div>
              <h1 class="display-5 fw-bolder">{{productDetails.productName}}</h1>
              <div class="fs-5 mb-5">
                  <span class="text-decoration-line-through">$45.00</span><br>

                  <span>{{productDetails.price}}</span><br>
                  <a href="products/update-product/{{productDetails.id}}">Update Product</a><br>
                  <a href="products/delete-product/{{productDetails.id}}">Delete Product</a><br>
              </div>
              <p class="lead">{{productDetails.description}}</p>
              <div class="d-flex">
                  <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                  <button class="btn btn-outline-dark flex-shrink-0" type="button">
                      <i class="bi-cart-fill me-1"></i>
                      Thêm giỏ hàng háhdashd
                  </button>
              </div>
          </div>
      </div>
  </div>


