


  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://minhancomputercdn.com/media/news/353_top_may_tinh_xach_tay_laptop_choi_game_msi.jpg" class="d-block w-100" style="height: 400px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.tgdd.vn/Products/Images/44/249151/Slider/vi-vn-msi-gaming-ge66-raider-11uh-i7-259vn-1.jpg" style="height: 400px;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://dienmay.vatbau.com/Products/Images/44/249152/msi-gaming-ge66-raider-11ug-i7-258vn-600x600.jpg" class="d-block w-100" style="height: 400px;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>







